*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 150px;
    border: 1px solid black;
    .header-trademarks{
        display: flex;
        justify-content: flex-end;
    }
    .navbar-container{
        display: flex;
        ul{
            display: flex;
            justify-content: space-between;
            list-style: none;
        }
    }
}