* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

.margin-100 {
  margin: 0 100px;
}

header {
  border: 1px solid black;
}
header .header-trademarks-container {
  background-color: #0282f9;
  color: #ffffff;
}
header .header-trademarks-container .header-trademarks-box {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 25px;
}
header .header-trademarks-container .header-trademarks-box div {
  padding-left: 50px;
  font-size: 0.8rem;
  text-transform: uppercase;
}
header .header-trademarks-container .header-trademarks-box div span {
  font-size: 0.7rem;
}
header .navbar-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .navbar-box img {
  height: 120px;
  padding: 20px;
}
header .navbar-box ul {
  display: flex;
}
header .navbar-box ul li {
  text-transform: uppercase;
  font-weight: bolder;
  color: #464646;
  padding: 0 10px;
  font-size: 0.9rem;
}
header .jumbo-section {
  background-image: url("/images/jumbotron.jpg");
  height: 400px;
}