* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 150px;
  border: 1px solid black;
}
header .header-trademarks {
  display: flex;
  justify-content: flex-end;
}
header .navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .navbar-container ul {
  display: flex;
  list-style: none;
}